<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests">
<listeners>
<listener class-name="TanmoyFramework.Listeners"/>
</listeners>
  <test name="Valodation">
    <classes>
      <class name="TanmoyFramework.validate"/>
      </classes>
      </test>
  <test name="Site Testing">
    <classes>
      <class name="TanmoyFramework.HomePage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
